# dependencies
node_modules/

# build outputs
dist/
web/
release/
**/win-unpacked/
*.exe
*.nsis.7z
*.blockmap

# archives
*.rar
*.zip
*.7z

# logs / temp
*.log
npm-debug.log*
.DS_Store
Thumbs.db

# IDE / editors
.vscode/
.idea/
*.swp
